.container {
    position:relative;
    text-align:center;
    color:white;
}
.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
h1 {
    color: #f2f3f5
}
* {
    color: #f2f3f5
}
a {
    color: #02a3fa
}