body {
    background-color: #313338;
}
h1 {
    color: #f2f3f5;
    font-family:'Courier New', Courier, monospace;
}
h2 {
    font-family:'Courier New', Courier, monospace
}
* {
    color: #f2f3f5
}
button {
    color: #02a3fa
}
a {
    color: #02a3fa;
    text-decoration: none;
}
a:hover {
    color: #02a3fa;
    text-decoration: underline;
}
border {
    border: 0.1rem solid #02a3fa;
    border-radius: 1rem;
    padding: 0.5rem
}
marg {
    margin: 1.5rem
}
.abtme {
    border-radius: 0.5rem;
    border:#f2f3f5;
}